<!-- views/partials/_productTable.ejs -->
<tbody class="text-center">
  <% products.forEach(product => { %>
    <tr>
      <td class="py-2 px-4"><%= product.name %></td>
      <td class="py-2 px-4"><%= product.category.name %></td>
      <td class="py-2 px-4">$<%= product.price.toFixed(2) %></td>
      <td class="py-2 px-4"><%= product.stock %></td>
      <td class="py-2 px-4">
        <a href="/admin/products/edit/<%= product.id %>?" class="text-blue-600">Edit</a> |
        <form action="/admin/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit" class="text-red-600">Delete</button>
        </form>
      </td>
    </tr>
  <% }) %>
</tbody>
